/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */
@reference "tailwindcss";
 
.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.backgroundGradient {
  @apply w-full h-full bg-gradient-to-r from-[rgb(150,255,244,0.81)] to-[rgb(0,71,252,0.81)];
  /* filter: blur(80px); */
  z-index: 5;
}
